
.layout_padding {
  padding: 90px 0;
}
.heading_container {
  font-size: 22px;
}

.about_section .img-box {
  position: relative;
}

.about_section .img-box img {
  max-width: 100%;
  position: relative;
  z-index: 2;
}

.about_section .img-box::before, .about_section .img-box::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 45px;
  height: 70%;
  background-color: #04233b;
  z-index: 3;
}

.about_section .img-box::before {
  left: 0;
  z-index: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about_section .img-box::after {
  right: 0;
  z-index: 1;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
}

.about_section .detail-box p {
  color: #1f1f1f;
  margin: 15px 50px 15px 0;
  line-height: 30px;
  width: 520px;
}

.about_section .detail-box a {
  display: inline-block;
  padding: 10px 45px;
  background-color: #0a97b0;
  color: #ffffff;
  border-radius: 0px;
  transition: all .3s;
  border: none;
  margin-top: 15px;
}
.about_section .detail-box a:hover {
  background-color: #065968;
}
