<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="img/fevicon.png" type="image/x-icon">
  <title>Login</title>
  <link rel="stylesheet" href="../static/css/base.css">
  <link rel="stylesheet" href="../static/css/Customer/login_customer.css">
</head>
<body>


  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
        <header>Đăng ký</header>
      <form method="POST" action="">
        <div style="margin-top: 40px; text-align: center; font-size: 16px;">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for cat, mess in messages %}
            {% if cat == "error" %}
            <div style="color: red;" class="alert alert-danger alert-dismissable fade show" role="alert">
                {{ mess }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% else %}
            <div class="alert alert-success alert-dismissable fade show" role="alert">
                {{ mess }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
        <span class="details">Email</span>
        <input type="email" name="email" placeholder="Nhập email" required>

        <span class="details">Tên đăng nhập</span>
        <input type="text" name="user_name" placeholder="Tên đăng nhập" required>

        <span class="details">Số điện thoại</span>
        <input type="number" name="phone_number" placeholder="Nhập số điện thoại" required>

        <span class="details">Mật khẩu</span>
        <input type="password" name="customer_password" placeholder="Nhập mật khẩu" required>

        <span class="details">Xác nhận mật khẩu</span>
        <input type="password" name="confirm_password" placeholder="Nhập lại mật khẩu" required>
  
        <div class="button">
          <input type="submit" class="button" name="login" value="Đăng ký">
        </div>      
      </form>
      <div class="signup">
        <span class="signup">Đã có tài khoản?
            <a href="/login_custumer"><label>Đăng nhập</label></a>
        </span>
      </div>
    </div>
    
  </div>
</body>
</html>